version: '3.8'

services:
  redis:
    image: "redis:latest"
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    


  web:
    build: . 
    ports:
      - "5002:5002"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

volumes:
  redis-data:
